<div class="skill-banner-wrapper">
  <div class="skill-banner">
    <div class="skill-track">
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++">
        <span>C++</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="C">
        <span>C</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux">
        <span>Linux</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python">
        <span>Python</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git">
        <span>Git</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker">
        <span>Docker</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++">
        <span>C++</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="C">
        <span>C</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux">
        <span>Linux</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python">
        <span>Python</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git">
        <span>Git</span>
      </div>
      <div class="skill-item">
        <img class="nozoom" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker">
        <span>Docker</span>
      </div>
    </div>
  </div>
</div>
