RewriteEngine On

#RewriteCond %{REMOTE_ADDR} !^78\.189\.95\.168$
#RewriteCond %{REQUEST_URI} !^/maintenance\.html$
#RewriteRule ^(.*)$ /maintenance.html [R=503,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Security Headers
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "DENY"
Header set Referrer-Policy "strict-origin-when-cross-origin"
Header set Permissions-Policy "camera=(), microphone=(), geolocation=()"
Header set X-XSS-Protection "1; mode=block"
